<form *ngIf="squadra" class="squadra-detail-form">
  <mat-form-field class="squadra-detail-full-width">
    <input matInput placeholder="Id Campionato" [(ngModel)]="squadra.campionatoId" [value]="squadra?.campionatoId" name="campionatoId" />
  </mat-form-field>
  <mat-form-field class="squadra-detail-full-width">
    <input matInput placeholder="Nome squadra" [(ngModel)]="squadra.nome" [value]="squadra?.nome" name="nome" />
  </mat-form-field>
</form>

<button (click)="goBack()">go back</button>
<button (click)="save()">save</button>

