<div *ngIf="dataSource" class="punteggi-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" matSortActive="punteggio" matSortDirection="desc" matSortDisableClear>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="campionatoId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Campionato </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{resolveCpName(element.campionatoId)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="squadraId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Squadra </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{resolveSqName(element.squadraId)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="punteggio">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Punteggio </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.punteggio }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>