<div>
  <label>Nome squadra:
    <mat-form-field class="squadra-detail-full-width">
      <input matInput #squadraName />
    </mat-form-field>
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button mat-button (click)="add(squadraName.value); squadraName.value=''">
    <mat-icon>check</mat-icon>
  </button>
</div>
<mat-list role="list">
  <mat-list-item role="listitem" *ngFor="let squadre of squadre">
    <button mat-button class="delete" title="Canella squadra" (click)="delete(squadre)"><mat-icon>backspace</mat-icon></button>
    <a routerLink="/squadra/{{squadre?.id}}">
      {{squadre?.nome}}
    </a>
  </mat-list-item>
</mat-list>