<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Inserisci nuovo campionato
      </mat-panel-title>
    </mat-expansion-panel-header>
      <mat-form-field class="campionato-detail-full-width">
        <input matInput #campionatoAnno placeholder="Nome campionato" />
      </mat-form-field>
      <mat-checkbox #campionatoCurrent [(ngModel)]="checked" name="current" value="1" [checked]="checked">Corrente</mat-checkbox>
    <!-- (click) passes input value to add() and then clears the input -->
      <button [disabled]="btnNewDisable" mat-button (click)="add(campionatoAnno.value); campionatoAnno.value=''">
      <mat-icon>check</mat-icon>
    </button>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Lista campionati
      </mat-panel-title>
    </mat-expansion-panel-header>  
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let campionato of campionati">
        <button mat-button class="delete" title="Cancella campionato" (click)="delete(campionato)"><mat-icon>backspace</mat-icon></button>
        <a routerLink="/campionati/{{campionato?.id}}">
          {{campionato?.anno}}
        </a>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
<mat-tab-group *ngIf="campionati">
  <mat-tab *ngFor="let campionato of campionati | sortnum: ['current']" label="{{campionato?.anno}}" >
    <mat-list *ngIf="squadra">
      <mat-list-item *ngFor="let sq of squadra | filtercampionato: campionato.id">
        <a routerLink="/squadra/{{sq?.id}}">
          {{sq?.nome}} ({{showPunteggio(sq?.id)}})
        </a>
        <button mat-button title="Aggiungi 1 punto" (click)="addPunteggio(sq)" [disabled]="btnDisable"> + </button>
        <button mat-button title="Aggiungi 1 punto" *ngIf="showPunteggio(sq?.id)>0" (click)="minusPunteggio(sq)" [disabled]="btnDisable"> -- </button>
      </mat-list-item>
    </mat-list>
  </mat-tab>
</mat-tab-group>
